.left-section {
    position: relative;
    height: $left-height;
    width: 26rem;

    .panel {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("/img/left-panel.png") left no-repeat;
        background-size: 100% $left-height;
        z-index: 2;
        pointer-events: none;
    }
    .left-top-section,
    .left-bottom-section {
        height: 100%;
        width: 100%;
    }
    .left-top-section {
        margin-bottom: 2px;
        background: rgba(255, 255, 255, 0.2);
        padding: 1rem;

        .search-wrapper {
            @include flex(center, center, row);
            height: 5.5vh;
            width: 100%;
            background: #fff;
            border-radius: 10px;
            margin-bottom: 5px;

            .search-icon {
                width: 2rem;
                height: 2rem;
                margin: 0 8px;
                background: url("/icons/search.svg") center center no-repeat;
                background-size: 100% 100%;
            }
            input {
                width: 100%;
                border: none;
                outline: none;
                font-weight: bold;
                &::placeholder {
                    color: #a09fa8;
                }
            }
        }

        .search-result-wrapper-left,
        .search-result-wrapper-center,
        .search-result-wrapper-right {
            background: #a79788;
            margin: 5px 0;
            box-shadow: 0px 0px 2px #080808;

            .result {
                font-size: 1.5rem;
                color: #fff;
                margin: 0.1rem 5rem;
                text-transform: uppercase;
            }
        }

        .search-result-wrapper-left {
            border-radius: 0 15px 15px 0;
            transform: translateX(-5px);
        }

        .search-result-wrapper-center {
            border-radius: 15px;
        }
        .search-result-wrapper-right {
            border-radius: 15px 0 0 15px;
            transform: translateX(5px);
        }
    }

    .left-bottom-section {
        margin-bottom: 2px;
        background: rgba(255, 255, 255, 0.2);
        padding: 1rem;
    }
}
