.map-section {
    position: relative;
    z-index: 1;
    .celsius-button-wrapper {
        @include flex(center, center, column);
        position: absolute;
        top: 1rem;
        right: 6rem;
        z-index: 1000;
        background: $text-wrapper-color;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.1s linear;
        &:hover {
            box-shadow: 0 0 5px #080808;
            width: 3.2rem;
            height: 3.2rem;
            transform: translate(0.1rem, -0.1rem);
        }

        .panel {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url("/img/circle-panel.png") left no-repeat;
            background-size: 100% 100%;
            z-index: 2;
            pointer-events: none;
        }
        .celsius {
            font-size: $primary-font-size;
            color: $text-primary-color;
            text-transform: uppercase;
            pointer-events: none;
        }
    }

    .fahrenheit-button-wrapper {
        @include flex(center, center, column);
        position: absolute;
        top: 1rem;
        right: 2rem;
        z-index: 1000;
        background: $text-wrapper-color;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.1s linear;
        &:hover {
            box-shadow: 0 0 5px #080808;
            width: 3.2rem;
            height: 3.2rem;
            transform: translate(0.1rem, -0.1rem);
        }

        .panel {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url("/img/circle-panel.png") left no-repeat;
            background-size: 100% 100%;
            z-index: 2;
            pointer-events: none;
        }
        .fahrenheit {
            font-size: $primary-font-size;
            color: $text-primary-color;
            text-transform: uppercase;
            pointer-events: none;
        }
    }

    .active {
        background: $text-primary-color;
        .celsius {
            color: $text-wrapper-color;
            font-weight: 600;
        }

        .fahrenheit {
            color: $text-wrapper-color;
            font-weight: 600;
        }
    }
}
