@media screen and (max-width: 1060px) and (min-width: 640px) {
    html,
    body {
        font-size: 70%;
    }

    .main-container {
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 640px) and (min-width: 500px) {
    html,
    body {
        font-size: 58%;
    }

    .main-container {
        width: 100vw;
        height: 100vh;
    }
}
