$background-gradient: linear-gradient(
    231.93deg,
    #214e75 14.43%,
    rgba(81, 119, 153, 0.923127) 52.8%,
    rgba(156, 103, 58, 0.363297) 52.81%,
    rgba(100, 93, 88, 0.68) 79.01%
);

$container-width: 65vw;
$min-container-width: 300px;
$container-height: 90vh;
$min-container-height: 500px;
$min-left-width-section: 25.5rem;

$primary-font-size: 1.5rem;
$secondary-font-size: 1.2rem;
$third-font-size: 3.5rem;
$big-font-size: 7.5rem;
$uv-widget-font-size: 45px;

$text-primary-color: #fff;
$text-secondary-color: #e0e0e0;
$text-search-color: #7a6b5d;
$text-wrapper-color: #a79788;
$placeholder-color: #a09fa8;

$section-background-color: rgba(255, 255, 255, 0.2);

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "global";
@import "leftPanel";
@import "mapPanel";
@import "bottomPanel";

.main-container {
    width: $container-width;
    min-width: $min-container-width;
    height: $container-height;
    min-height: $min-container-height;
    background: $background-gradient no-repeat;
    background-attachment: fixed;
    box-shadow: 3px 3px 5px #080808, 10px 10px 60px #080808;
    @include flex(flex-start, stretch, column);

    .top-section {
        @include flex(flex-start, stretch, row);
        flex: 2;

        .left-section {
            @include flex(flex-start, stretch, column);
            min-width: $min-left-width-section;

            .left-top-section {
                flex: 1;
                @include flex(flex-start, stretch, column);
                .scroll {
                    flex: 1 0 15vh;
                }
            }
        }

        .map-section {
            flex: 1;
        }
    }

    .bottom-section {
        @include flex(flex-start, stretch, row);
    }
}

//Media query
@import "display";
@import "tablet";
@import "phone";
